@import "tailwindcss";

@theme {
  --animate-wave: wave 2.5s infinite;
  --animate-pulse-once: pulse-once 1s ease-in-out;

  @keyframes wave {
    0% { transform: rotate(0.0deg) }
    10% { transform: rotate(14.0deg) }
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate(0.0deg) }
    100% { transform: rotate(0.0deg) }
  }

  @keyframes pulse-once {
    0%, 100% { opacity: 1; }
    50% { opacity: .5; }
  }
}
